## Magics sandbox

In [16]:
%load_ext marklogic_ext

The marklogic_ext extension is already loaded. To reload it, use:
  %reload_ext marklogic_ext

In [17]:
%marklogic_connect http://admin:admin@ml:8010

Connection to http://ml:8010 OK

In [18]:
%%marklogic_xqy

(<foo f="a"><bar>1</bar><bar>2</bar></foo>, 1, 1.0, -5, -5.0) (: return a sequence :)

[{'foo': {'@f': 'a', 'bar': ['1', '2']}}, 1, 1.0, -5, -5]

In [19]:
%%marklogic_xqy

let $x := "some string"
return $x

'some string'

In [20]:
%%marklogic_sjs

const x = {
    foo: "bar",
    foobar: 1,
    barfoo: -5.3
};
x;

{'foo': 'bar', 'foobar': 1, 'barfoo': -5.3}

In [21]:
%%marklogic_sjs

const x = [1, 2, 3, 4, 5];
x;

[1, 2, 3, 4, 5]

In [22]:
%%marklogic_sjs -dataframe

const doc1 = { name: "John", age: 20 };
const doc2 = { name: "Jill", age: 25 };
const doc3 = { name: "Jack", age: 34 };
const docs = [ doc1, doc2, doc3 ];

docs;

   name  age
0  John   20
1  Jill   25
2  Jack   34

In [23]:
%%marklogic_sql
SELECT * FROM mock.data LIMIT 10

,mock.data.id,mock.data.name,mock.data.gender,mock.data.isActive,mock.data.supportCalls,mock.data.policyAmount,mock.data.dateCreated,mock.data.dateModified,mock.data.notes,mock.data.paySchedule
0,952,Abbie Koeppke,Female,False,5,930845.09,1984-10-07,2020-04-16T17:02:07Z,Ut at dolor quis odio consequat varius. Intege...,Annual
1,766,Ninnette Kunzelmann,Female,True,1,628907.56,1999-11-12,2020-05-06T00:23:16Z,Donec dapibus. Duis at velit eu est congue ele...,Annual
2,742,Jen Vasyatkin,Female,True,6,802392.97,2000-12-14,2020-03-28T17:23:52Z,"Nam nulla. Integer pede justo, lacinia eget, t...",Annual
3,947,Farley McMearty,Male,True,3,986417.14,1996-06-08,2020-03-23T13:19:57Z,Nullam varius.,Annual
4,255,Farlay Caudrelier,Male,False,3,56525.24,1981-12-19,2020-05-21T18:56:59Z,"Nam nulla. Integer pede justo, lacinia eget, t...",Annual
5,17,Shaina Sympson,Female,True,9,838907.00,2007-12-17,2020-05-10T23:22:54Z,Nulla facilisi. Cras non velit nec nisi vulput...,Quarterly
6,723,Chickie Turfitt,Male,True,10,838172.27,1996-02-09,2020-04-21T08:32:55Z,Mauris ullamcorper purus sit amet nulla. Quisq...,Annual
7,375,Althea Pretty,Female,False,4,703632.02,2006-05-14,2020-03-05T00:47:14Z,Maecenas pulvinar lobortis est. Phasellus sit ...,Quarterly
8,986,Abdel Kopfer,Male,True,7,9033.64,2004-08-27,2020-01-25T01:53:42Z,"Aliquam augue quam, sollicitudin vitae, consec...",Quarterly
9,183,Simmonds Moffatt,Male,False,3,100294.50,1983-01-12,2020-04-19T17:12:39Z,Aenean sit amet justo. Morbi ut odio.,Quarterly

In [25]:
%%marklogic_sql -raw
SELECT * 
FROM mock.data 
WHERE
mock.data.gender = 'Female'
ORDER BY mock.data.id
LIMIT 10

['{"mock.data.id":3, "mock.data.name":"Norma Pauls", "mock.data.gender":"Female", "mock.data.isActive":false, "mock.data.supportCalls":3, "mock.data.policyAmount":599120.47, "mock.data.dateCreated":"2004-06-13", "mock.data.dateModified":"2020-05-19T19:55:59Z", "mock.data.notes":"In congue. Etiam justo.", "mock.data.paySchedule":"Annual"}',
 '{"mock.data.id":4, "mock.data.name":"Gusti Giurio", "mock.data.gender":"Female", "mock.data.isActive":true, "mock.data.supportCalls":4, "mock.data.policyAmount":61554.52, "mock.data.dateCreated":"2004-07-21", "mock.data.dateModified":"2020-03-04T05:23:34Z", "mock.data.notes":"Integer tincidunt ante vel ipsum.", "mock.data.paySchedule":"Monthly"}',
 '{"mock.data.id":5, "mock.data.name":"Shannon Leguay", "mock.data.gender":"Female", "mock.data.isActive":false, "mock.data.supportCalls":6, "mock.data.policyAmount":50021.65, "mock.data.dateCreated":"2011-11-02", "mock.data.dateModified":"2020-05-15T11:30:48Z", "mock.data.notes":"Proin risus.", "mock.data.paySchedule":"Annual"}',
 '{"mock.data.id":7, "mock.data.name":"Janean Govenlock", "mock.data.gender":"Female", "mock.data.isActive":false, "mock.data.supportCalls":1, "mock.data.policyAmount":319661.58, "mock.data.dateCreated":"2015-08-08", "mock.data.dateModified":"2020-01-28T16:03:04Z", "mock.data.notes":"Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.", "mock.data.paySchedule":"Annual"}',
 '{"mock.data.id":9, "mock.data.name":"Christina Klimentyev", "mock.data.gender":"Female", "mock.data.isActive":true, "mock.data.supportCalls":8, "mock.data.policyAmount":278992.1, "mock.data.dateCreated":"2017-12-09", "mock.data.dateModified":"2020-04-24T03:54:54Z", "mock.data.notes":"Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.", "mock.data.paySchedule":"Quarterly"}',
 '{"mock.data.id":13, "mock.data.name":"Sarajane Joutapaitis", "mock.data.gender":"Female", "mock.data.isActive":true, "mock.data.supportCalls":5, "mock.data.policyAmount":732079.59, "mock.data.dateCreated":"2012-01-02", "mock.data.dateModified":"2020-01-14T22:41:39Z", "mock.data.notes":"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.", "mock.data.paySchedule":"Annual"}',
 '{"mock.data.id":16, "mock.data.name":"Vere Snodin", "mock.data.gender":"Female", "mock.data.isActive":false, "mock.data.supportCalls":7, "mock.data.policyAmount":814488.56, "mock.data.dateCreated":"2009-10-17", "mock.data.dateModified":"2020-01-20T03:33:50Z", "mock.data.notes":"Aliquam non mauris. Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet.", "mock.data.paySchedule":"Monthly"}',
 '{"mock.data.id":17, "mock.data.name":"Shaina Sympson", "mock.data.gender":"Female", "mock.data.isActive":true, "mock.data.supportCalls":9, "mock.data.policyAmount":838907, "mock.data.dateCreated":"2007-12-17", "mock.data.dateModified":"2020-05-10T23:22:54Z", "mock.data.notes":"Nulla facilisi. Cras non velit nec nisi vulputate nonummy.", "mock.data.paySchedule":"Quarterly"}',
 '{"mock.data.id":19, "mock.data.name":"Tommie Spurman", "mock.data.gender":"Female", "mock.data.isActive":false, "mock.data.supportCalls":5, "mock.data.policyAmount":442984.64, "mock.data.dateCreated":"1986-08-29", "mock.data.dateModified":"2020-04-24T15:35:03Z", "mock.data.notes":"Donec semper sapien a libero. Nam dui. Proin leo odio, porttitor id, consequat in, consequat ut, nulla.", "mock.data.paySchedule":"Annual"}',
 '{"mock.data.id":22, "mock.data.name":"Ellie Dearlove", "mock.data.gender":"Female", "mock.data.isActive":true, "mock.data.supportCalls":5, "mock.data.policyAmount":582204.19, "mock.data.dateCreated":"2002-04-04", "mock.data.dateModified":"2020-05-21T17:51:53Z", "mock.data.notes":"Donec vitae nisi.", "mock.data.paySchedule":"Quarterly"}']